$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiare:#99E2D0;

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
    transition:opacity 0.5s 2s;
    opacity: 0;
    &::after{
        content:"";
        width:75px;
        height:75px;
        border:15px solid $couleur-primaire;
        border-top-color: $couleur-secondaire;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }
  
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

@font-face {
    font-family: "Raleway";
    src: url(../css/Raleway-VariableFont_wght.ttf);
    font-weight: 100 1000;
}

*{
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
        img{
        width: 200px;
        margin:20px;
    }
}

#section-de-localisation{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 10px 13px -3px rgba(0,0,0,0.3);
    font-size: large;

    i{
        margin-left: 40px;
    }

    input{
        border: none;
        background-color: inherit;
        font-weight: 600;
        width:200px;
        margin:20px 0px 20px 10px;
    }

    input:focus{
        outline: none;
    }    
}

#section-presentation{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin:40px 60px 10px 60px;
        text-align: center;
    }

    p{
        margin:10px 50px 20px 50px;
        text-align: center;
        font-weight: 200;
    }

    button{
        background-color: $couleur-primaire;
        padding: 20px;
        border: none;
        border-radius: 40px;
        color: white;
        font-weight: 500;
        margin:20px 0px 60px 0px;
        background-color:$couleur-primaire;
        transition: background-color 0.5s, box-shadow 0.5s;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.21);
        &:hover{
            background-color: $couleur-secondaire;
            box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
            cursor: pointer;
        }
    }
}

#section-fonctionnement{
    margin:50px 20px 50px 20px;
    div{
        display: flex;
        align-items: center;
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        margin: 20px;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.21);
        &:hover{
            background-color: rgb(230, 236, 255);

        }
        .numero-etape{
            margin-right: 20px;
            background-color: $couleur-primaire;
            color: white;
            font-size: large;
            padding: 5px 10px 5px 10px;
            border-radius: 100%;
            margin-left: -15px;
        }
        i{
            font-size: x-large;
            color:rgb(140, 140, 140);
            margin-right:15px;
        }
        .texte-etape{
            font-weight: 500;
        }
    }
}