.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-transition: visibility 0.5s 2s;
  transition: visibility 0.5s 2s;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #9356DC;
  border-top-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@font-face {
  font-family: "Raleway";
  src: url(../css/Raleway-VariableFont_wght.ttf);
  font-weight: 100 1000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 200px;
  margin: 20px;
}

#section-de-localisation {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 10px 13px -3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 10px 13px -3px rgba(0, 0, 0, 0.3);
  font-size: large;
}

#section-de-localisation i {
  margin-left: 40px;
}

#section-de-localisation input {
  border: none;
  background-color: inherit;
  font-weight: 600;
  width: 200px;
  margin: 20px 0px 20px 10px;
}

#section-de-localisation input:focus {
  outline: none;
}

#section-presentation {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-presentation h2 {
  margin: 40px 60px 10px 60px;
  text-align: center;
}

#section-presentation p {
  margin: 10px 50px 20px 50px;
  text-align: center;
  font-weight: 200;
}

#section-presentation button {
  background-color: #9356DC;
  padding: 20px;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  margin: 20px 0px 60px 0px;
  background-color: #9356DC;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
}

#section-presentation button:hover {
  background-color: #FF79DA;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#section-fonctionnement {
  margin: 50px 20px 50px 20px;
}

#section-fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
}

#section-fonctionnement div:hover {
  background-color: #e6ecff;
}

#section-fonctionnement div .numero-etape {
  margin-right: 20px;
  background-color: #9356DC;
  color: white;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  margin-left: -15px;
}

#section-fonctionnement div i {
  font-size: x-large;
  color: #8c8c8c;
  margin-right: 15px;
}

#section-fonctionnement div .texte-etape {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */