/*couleurs principales*/

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiare:#99E2D0;


/*police*/


@font-face {
    font-family: "Raleway";
    src: url(../css/Raleway-VariableFont_wght.ttf);
    font-weight: 100 1000;
}


/*style universel*/
*{
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

/*en-tête*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 200px;
        margin:20px;
    }
}

/*pied de page*/

footer{
    background-color:rgb(64, 64, 64);
    height:180px;
    img{
        filter: invert(100%);
        width: 100px;
        margin:20px 0px 0px 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
        a{
            margin:10px 0px 0px 20px;
            color:white;

            &:hover{
                text-decoration: underline;
            }
        }
    
        i{
            margin-right: 10px;
            color:white;
        }

    }

}

/*mode tablette/mobile*/


@media (min-width:768px){

    #section-fonctionnement{
        display: flex;
        flex-direction: column;

        h2{
            align-self: center;
        }
    }

    #info-et-restaurants{
        display:flex;
    }

    #colonne-gauche{
        flex-grow: 1;
        min-width: 350px;
        margin:20px 10px 20px 20px;
    }

    #section-presentation{
        border-radius:20px;
    }

    #section-restaurants{
        flex-grow:2;
        max-width: 900px;
        margin:20px;
        border-radius: 20px;

        h2{
            align-self: center;
            padding: 20px 0px 0px 0px;
        }

        #zone-carte{
            display:flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

    }

    footer{
        display: flex;
        flex-direction: column;

        img{
            width: 200px;
            margin-left: 40px;
        }
        nav{
            flex-direction: row;       
            margin:10px 0px 10px 20px;
            a{
                font-size: large;
                margin: 20px 15px 0px 20px;
           
            }
        }
    }
}
