$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiare:#99E2D0;



@font-face {
    font-family: "Raleway";
    src: url(../css/Raleway-VariableFont_wght.ttf);
    font-weight: 100 1000;
}

*{
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}


#loader{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
    animation-name:dissapear;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 5;
    visibility: hidden;

    &::after{
        content:"";
        width:75px;
        height:75px;
        border:15px solid $couleur-primaire;
        border-top-color: $couleur-secondaire;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }
  
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

@keyframes dissapear{
    from {visibility: visible;}
    to {visibility: hidden;}
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 200px;
        margin:20px;
    }
}


#section-de-localisation{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 10px 13px -3px rgba(0,0,0,0.3);
    font-size: large;

    i{
        margin-left: 40px;
    }

    input{
        border: none;
        background-color: inherit;
        font-weight: 600;
        width:fit-content;
        margin:20px 0px 20px 10px;
    }

    input:focus{
        outline: none;
    }    
}

#section-presentation{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin:40px 60px 10px 60px;
        text-align: center;
    }

    p{
        margin:10px 50px 20px 50px;
        text-align: center;
        font-weight: 200;
    }

    button{
        background-color: $couleur-primaire;
        padding: 20px;
        border: none;
        border-radius: 40px;
        color: white;
        font-weight: 500;
        margin:20px 0px 60px 0px;
        background-color:$couleur-primaire;
        transition: background-color 0.5s, box-shadow 0.5s;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.21);
        &:hover{
            background-color: $couleur-secondaire;
            box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
            cursor: pointer;
        }
    }
}

#section-fonctionnement{
    margin:30px 20px 50px 20px;
    div{
        display: flex;
        align-items: center;
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        margin: 20px;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.21);

        &:hover{
            background-color: rgb(230, 236, 255);
        }

        .numero-etape{
            margin-right: 20px;
            background-color: $couleur-primaire;
            color: white;
            font-size: large;
            padding: 5px 10px 5px 10px;
            border-radius: 100%;
            margin-left: -15px;
        }

        i{
            font-size: x-large;
            color:rgb(140, 140, 140);
            margin-right:15px;
        }

        .texte-etape{
            font-weight: 500;
        }
    }
}

#section-restaurants{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        padding:20px 20px 50px 20px;
        align-self: flex-start;
    }

    .carte{
        height: 300px;
        flex-basis: 350px;
        background-color: white;
        border-radius: 20px;
        margin: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        position: relative;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.21);
        transition: all 0.2s;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.21);
        }

        .nouveau{
            background-color: aquamarine;
            color:green;
            font-weight: 600;
            position: absolute;
            align-self: flex-end;
            margin-right: 20px;
            padding:10px;
        }

        img{
            width:100%;
            height: 75%;
            object-fit: cover;
        }
        h3,p{
            margin: 5px 0px 0px 10px;
        }

        .heart{
            position: absolute;
            bottom: 60px;
            right: 60px;
        }

        .heart-border{
            color: black;
            position: absolute;
            font-size: xx-large;
            pointer-events:none;
            z-index: 2;
        }
        .heart-content{
            position: absolute;
            color: white;
            font-size: xx-large;
            transition: color 0.5s;
            z-index: 1;

            &:hover{
                color: $couleur-secondaire;
                z-index: 3;
            }
        }
    }  
}

footer{
    background-color:rgb(64, 64, 64);
    height:180px;
    img{
        filter: invert(100%);
        width: 100px;
        margin:20px 0px 0px 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
        a{
            margin:10px 0px 0px 20px;
            color:white;

            &:hover{
                text-decoration: underline;
            }
        }
    
        i{
            margin-right: 10px;
            color:white;
        }

    }

}

@media (min-width:768px){

    #section-fonctionnement{
        display: flex;
        flex-direction: column;

        h2{
            align-self: center;
        }
    }

    #info-et-restaurants{
        display:flex;
    }

    #colonne-gauche{
        flex-grow: 1;
        min-width: 350px;
        margin:20px 10px 20px 20px;
    }

    #section-presentation{
        border-radius:20px;
    }

    #section-restaurants{
        flex-grow:2;
        max-width: 900px;
        margin:20px;
        border-radius: 20px;

        h2{
            align-self: center;
            padding: 20px 0px 0px 0px;
        }

        #zone-carte{
            display:flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

    }

    footer{
        display: flex;
        flex-direction: column;

        img{
            width: 200px;
            margin-left: 40px;
        }
        nav{
            flex-direction: row;       
            margin:10px 0px 10px 20px;
            a{
                font-size: large;
                margin: 20px 15px 0px 20px;
           
            }
        }
    }
}
