@font-face {
  font-family: "Raleway";
  src: url(../css/Raleway-VariableFont_wght.ttf);
  font-weight: 100 1000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  position: absolute;
  left: 25px;
}

header a i {
  font-weight: bold;
  font-size: x-large;
}

header img {
  width: 200px;
  margin: 20px;
}

#image-restaurant {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#image-restaurant img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  background-color: #f2f2f2;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: -40px;
  z-index: 2;
  border-radius: 40px 40px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#menu #liste-plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#menu button {
  background-color: #9356DC;
  padding: 20px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  margin: 20px 0px 60px 0px;
  background-color: #9356DC;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.21);
}

#menu button:hover {
  background-color: #FF79DA;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#menu h1 {
  margin: 30px 0px 50px 20px;
}

#menu .heart {
  position: absolute;
  right: 60px;
  top: 30px;
  background-color: #f2f2f2;
}

@-webkit-keyframes fill {
  from {
    height: 40px;
  }
  to {
    height: 0px;
  }
}

@keyframes fill {
  from {
    height: 40px;
  }
  to {
    height: 0px;
  }
}

#menu .heart:hover {
  cursor: pointer;
}

#menu .heart:hover .fa-solid {
  color: #9356DC;
}

#menu .heart:hover .fa-regular {
  color: #9356DC;
}

#menu .heart:hover::after {
  content: "";
  width: 35px;
  -webkit-animation: 1s fill;
          animation: 1s fill;
  position: absolute;
  z-index: 2;
  background-color: #f2f2f2;
}

#menu .heart i {
  font-size: xx-large;
  position: absolute;
}

#menu .heart .fa-solid {
  color: #f2f2f2;
  z-index: 1;
}

#menu .heart .fa-regular {
  z-index: 3;
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}

.partie-du-repas h2 {
  margin: 30px 0px 20px 20px;
  font-size: medium;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partie-du-repas h2::after {
  content: "";
  height: 2px;
  width: 45px;
  background-color: #99E2D0;
}

.partie-du-repas .plat {
  height: 70px;
  margin: 20px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0%;
}

.partie-du-repas .plat .plat-texte {
  min-width: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partie-du-repas .plat .plat-texte h3, .partie-du-repas .plat .plat-texte p {
  margin-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.partie-du-repas .plat .prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 8px;
}

.partie-du-repas .plat .plat-hover-effect {
  height: 100%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-right: -20%;
  background-color: #99E2D0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partie-du-repas .plat .plat-hover-effect i {
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  color: #99E2D0;
  font-weight: bold;
}

.partie-du-repas .plat:hover {
  cursor: pointer;
}

.partie-du-repas .plat:hover .plat-hover-effect {
  margin-right: 0px;
}

.partie-du-repas .un {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .deux {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .trois {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .quatre {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .cinq {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .six {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .sept {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .huit {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.partie-du-repas .neuf {
  -webkit-animation-name: plat;
          animation-name: plat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes plat {
  from {
    opacity: 0%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    visibility: 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    margin-top: 0px;
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes plat {
  from {
    opacity: 0%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    visibility: 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    margin-top: 0px;
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  background-color: #404040;
  height: 180px;
  z-index: 5;
  bottom: 0px;
}

footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100px;
  margin: 20px 0px 0px 20px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav a {
  margin: 10px 0px 0px 20px;
  color: white;
}

footer nav a:hover {
  text-decoration: underline;
}

footer nav i {
  margin-right: 10px;
  color: white;
}

@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer img {
    width: 200px;
    margin-left: 40px;
  }
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 0px 10px 20px;
  }
  footer nav a {
    font-size: large;
    margin: 20px 15px 0px 20px;
  }
}
/*# sourceMappingURL=menus.css.map */